<%= form_with(model: [post, commenting]) do |form| %>
    <% if commenting.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(commenting.errors.count, "error") %> prohibited this comment from being saved:</h2>
        <ul>
        <% commenting.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :content %>
      <%= form.text_area :content %>
    </div>
  
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>