<div class="index" id="myindex">
<p id="notice"><%= notice %></p>

<div class ="searchs">
<%= search_form_for @q do |f| %>

  search by :
  <%= f.label :ID_number_or_user_name_cont %>
  <%= f.search_field :ID_number_or_user_name_cont %>
sort by
<%= sort_link(@q, :user_name) %>
  <%= f.submit %>
<% end %>
</div>
<h2>Get registered here</h2>

<table border="1">
  <thead>
    <tr>
    <th>user_name</th>
      <th>Country</th>
      <th>Province</th>
      <th>District</th>
      <th>Sector</th>
      <th>telephone_number</th>
      <th>Gender</th>
      <th>Id number</th>
      <th>lost_id_date_or_found_id_date</th>
      <th>Post reason</th>
      <th>property_name</th>
      <th>Confirmation</th>
    
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.user_name %></td>
        
        <td><%= post.country %></td>
        <td><%= post.province %></td>
        <td><%= post.district %></td>
        <td><%= post.sector %></td>
        <td><%= post.telephone_number %></td>
        <td><%= post.gender %></td>
        <td><%= post.ID_number %></td>
        <td><%= post.lost_id_date_or_found_id_date %></td>
        <td><%= post.post_reason %></td>
        <td><%= post.property_name%></td>
        <td><%= post.confirmation %></td>
      
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @posts %>

<%= link_to 'New Post', new_post_path ,class: "btn btn-danger" %>

</div>