<div class="show">
<p id="notice"><%= notice %></p>

<p>
  <strong>User name:</strong>
  <%= @post.user_name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @post.country %>
</p>

<p>
  <strong>Province:</strong>
  <%= @post.province %>
</p>

<p>
  <strong>District:</strong>
  <%= @post.district %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @post.sector %>
</p>

<p>
  <strong>Cell:</strong>
  <%= @post.cell %>
</p>

<p>
  <strong>Village:</strong>
  <%= @post.village %>
</p>

<p>
  <strong>telephone_number:</strong>
  <%= @post.telephone_number %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @post.gender %>
</p>

<p>
  <strong>Id number:</strong>
  <%= @post.ID_number %>
</p>

<p>
  <strong>lost_id_date_or_found_id_date</strong>
  <%= @post.lost_id_date_or_found_id_date%>
</p>

<p>
  <strong>Post reason:</strong>
  <%= @post.post_reason %>
</p>

<p>
  <strong>Confirmation:</strong>
  <%= @post.confirmation %>
</p>

<%= render 'commentings/commenting' %>
 
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
</div>
